@page "/"
@inherits HomeViewComponent
@using ChartJs.Blazor;

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-overview" role="tab"
           aria-controls="nav-home" aria-selected="true">Overview</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-statements" role="tab"
           aria-controls="nav-profile" aria-selected="true">Statements</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-home-tab">
        <Chart Config="ViewModel.Config" @ref="ViewModel.Chart"></Chart>
    </div>
    <div class="tab-pane fade" id="nav-statements" role="tabpanel" aria-labelledby="nav-profile-tab">


        <div class="container"></div>
        <h3 class="row mt-4" style="color:green">
            Incomes
        </h3>

        <div class="row mt-2 table-responsive" style="height:250px" >
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statement in ViewModel.Incomes)
                    {
                    <tr>
                        <td scope="row">@statement.Category.Name</td>
                        <td scope="row">@statement.Amount</td>
                        <td scope="row">@statement.DateTime.ToString("MM/dd/yyyy")</td>
                        <td scope="row">@statement.Details</td>
                        <button type="button" class="btn btn-secondary" style="margin-left:4px"
                                @onclick="() => ViewModel.DeleteIncome(statement)">
                            <span class="oi oi-trash"></span>
                        </button>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <h3 class="row mt-5" style="color:red">
            Expenses
        </h3>

        <div class="row mt-3 table-responsive" style="height:250px">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statement in ViewModel.Expenses)
                    {
                    <tr>
                        <td >@statement.Category.Name</td>
                        <td>@statement.Amount</td>
                        <td>@statement.DateTime.ToString("MM/dd/yyyy")</td>
                        <td>@statement.Details</td>
                        <button type="button" class="btn btn-secondary" style="margin-left:4px"
                                @onclick="() => ViewModel.DeleteExpense(statement)">
                            <span class="oi oi-trash"></span>
                        </button>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

