@page "/"
@inherits HomeViewComponent
@using ChartJs.Blazor;

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-overview" role="tab"
           aria-controls="nav-home" aria-selected="true">Overview</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-statements" role="tab"
           aria-controls="nav-profile" aria-selected="true">Statements</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-home-tab">
        <Chart Config="ViewModel.Config" @ref="ViewModel.Chart"></Chart>
    </div>
    <div class="tab-pane fade" id="nav-statements" role="tabpanel" aria-labelledby="nav-profile-tab">


        <div class="container"></div>
        <div class="row mt-4">
            Incomes
        </div>

        <div class="row mt-2">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statement in ViewModel.Incomes)
                    {
                    <tr>
                        <td>@statement.Category.Name</td>
                        <td>@statement.Amount</td>
                        <td>@statement.DateTime.ToString("MM/dd/yyyy")</td>
                        <td>Details</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row mt-5">
            Expenses
        </div>

        <div class="row mt-3">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statement in ViewModel.Expenses)
                    {
                        <tr>
                            <td>@statement.Category.Name</td>
                            <td>@statement.Amount</td>
                            <td>@statement.DateTime.ToString("MM/dd/yyyy")</td>
                            <td>Details</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

